{% extends './base.html' %}

{% block main %}
<h2>Savollar</h2>
<form action="{% url 'polls:check' %}">
    {% for savol in all_savollar %}
    {{ savol.text }} <br>

    {% for javob in savol.choice_set.all %}
    <input type="radio" id="savol" name="{{ savol.id }}" value="{{ javob.id }}" required>
    <label for="savol">{{javob.text}} </label><br>
    {% endfor %}
    <hr>
    {% endfor %}

    <input type="submit" value="OK">
</form>
    <a style="text-decoration:none;" href="{% url 'polls:index' %}"><button>Home</button></a>
{% endblock %}